@import '../../sass/font/font.scss';
@import "../../sass/rootcolors/colors.scss";
*{
    transition: .3s;
}

.shop-div{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.shop-container{
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop-container table{
    background-color: var(--light2);
    text-align: center;
    border-collapse: separate;
    border-spacing:0 10px;
    border-radius: 10px;
    width:75%;
}

.shop-container tr{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;
    border:1px solid var(--medium);
    border-radius: 10px;
}

.shop-container td, th{
    transition: .3s;
    margin:5px;
}

.shop-container td:nth-child(4){
    width: 20%;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.shop-container td:nth-child(4):hover{
    transition: .3s;
    background-color: var(--light);
    cursor: pointer;
}

img{
    width: auto;
    height: 150px;
}

.shop-container button 
{
    padding:5px;
    width: 100%;
    background-color: var(--medium);
    border:1px solid black;
    border-radius: 5px;
}
.shop-container button:hover
{
cursor: pointer;
background-color: var(--light);
}
.shop1
{
    display: none !important;
}
.shop2
{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: var(--medium);
    padding: 10px;
}
.grid-item
{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
@media only screen and (max-width:1500px) {
    .shop2
    {
        display:grid;
        grid-template-columns: auto auto auto auto;
        background-color: var(--medium);
        padding: 10px;
    }
}
@media only screen and (max-width:1300px) {
    .shop2
    {
        display:grid;
        grid-template-columns: auto auto auto ;
        background-color: var(--medium);
        padding: 10px;
    }
}
@media only screen and (max-width:1100px) {
    .shop2
    {
        display:grid;
        grid-template-columns: auto auto ;
        background-color: var(--medium);
        padding: 10px;
    }
}
@media only screen and (max-width:710px) {
    .shop2
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--medium);
    padding: 10px;
}
}
