:root
{
--black: #382308;
--dark: #784A12 ;
--medium: #B8711C   ;
--light2: #ffba65  ;
--light: #ff8c00 ;
--grey1:rgb(34, 34, 34)  ;
--grey2:rgb(151, 151, 151)  ;
--grey3:rgb(211, 211, 211)  ;
--green: rgb(0, 255, 0);
--red:rgb(255, 0, 51);
}