:root
{
    --black: rgb(31, 24, 24) ;
--dark: rgb(66, 49, 49)   ;
--medium: rgb(114, 84, 84)   ;
--light: rgb(218, 161, 161)   ;
--grey:rgb(73, 73, 73)  ;
--green: rgb(0, 255, 0);
--red:rgb(255, 0, 51);
}