@import '../../sass/font/font.scss';
@import "../../sass/rootcolors/colors.scss";
*{
    user-select: none;
}
.chess-div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.chessboard{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background-color: transparent;
    margin-top:50px;
    border:1px solid rgb(107, 69, 42);
}
.chessboard >div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding:10px;
    border:none;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}
img{
    width: 60px;
    height: 60px;
}
.tile>div{
    background-color: var(--light);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.black-tile
{
    color:white;
    background-color: rgb(138, 93, 64);
}
.white-tile
{
    background-color: whitesmoke;
    color:white;
}
.yes{
    border:1px solid red;
    border-radius: 50%;
    padding:6px;
}
.tile >div:hover{
    background-color: green;
    cursor: pointer;
}
.possibleMoves{
    box-shadow: inset 0 0 30px green;
}
.piece{
position: relative !important;
}