@import '../../sass/font/font.scss';
@import "../../sass/rootcolors/colors.scss";
.mongoadditem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mongoadditem > button{
    background-color: slateblue;
    border:none;
    padding:4px;
}
.mongoadditem > button:hover{
    cursor: pointer;
    background-color: red;
}
.mongoadditem > * {
    margin: 10px;
}

.listofitems{
    padding:10px;
    background-color: lightsalmon;
}
.listofitems div{
    display:flex;
    padding:10px;
    align-items: center;
    justify-content: space-around;
    margin:10px;
    border-radius: 5px;
}
.listofitems div:hover{
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}

.listofitems li{
    border-bottom:1px solid white;
    display:block;
}
.todo{
}
.done{
background-color:  greenyellow;
}
.t-chat li{
    font-family: ubuntu-italic;
    padding:20px;
}
.t-chat li>.username{
    margin-bottom:6px;
    font-weight: bold;
}
.t-chat li:nth-child(even)>p{
    color:rgb(253, 210, 193);
}
.t-chat li:nth-child(odd)>p{
    color:rgb(223, 37, 37);
}
.t-chat li:nth-child(even){
    
    background-color: lightcoral;
}
.t-chat li:nth-child(odd){
    
    background-color: lightsalmon;
}