@import '../../sass/font/font.scss';
@import "../../sass/rootcolors/colors.scss";
.cart-div{
    background-color: var(--dark);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
}

.cart-div:hover{
    cursor: pointer;
    background-color: var(--light);
}
.cart-open{
    background-color: var(--medium);
    border: 2px solid var(--dark);
    height:100%;
    width: 100%;
    margin-right: 0;
    cursor:default !important;
    border-radius: 10px;
    }
.nrofitems img {
    width: 30px;
    height: auto;
}
.nrofitems p{
    color:white;
    position: absolute;
    top:-10px;
    left:35px;
    background-color: var(--red);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart-tableopen{
    display:flex !important;
    justify-content: center;
    align-items: center;
}
.close-cart{
    display:none;
}
.close-cartshow{
    z-index: 55;
    display:flex !important;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    background-color: rgb(245, 70, 70);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin:10px;
}
.close-cartshow:hover{
    cursor: pointer;
    background-color: red;
}
.cart-container{
    display:none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.cart-tableflex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.cart-container table{
    display: flex;
    border-collapse: collapse;
    border-spacing: 0 0;
    background-color:transparent;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.cart-containerflex{
    display:flex !important;
    
}
.cart-container tr{
    border:none;
    border-bottom:1px solid var(--dark);
    border-radius: 0;
    display: flex;
    flex-direction: row;
}
.cart-container tr:hover{
    background-color: var(--light);
    cursor: pointer;
}
.cart-nrofitemshide{
display:none !important;
}
.cart-controller
{
    margin:10px;
    display:flex;
    justify-content: space-around;
}
.cart-controller button
{
    border:1px solid var(--black);
    background-color: var(--light2);
    padding:10px;
    border-radius: 5px;
    width: 100px;
}
.cart-controller button:hover
{
    cursor: pointer;
    background-color: var(--light);
}
