@import '../../sass/font/font.scss';
@import "../../sass/rootcolors/colors.scss";
*{
    transition: .3s;
}
.cart-div{
background-color: var(--medium);
height: 50px;
width: 50px;
border-radius: 50%;
display:flex;
align-items: center;
justify-content: center;
position: fixed;
top:70px;
right:10px;
}
.cart-div:hover{
cursor: pointer;
background-color: var(--light);
}
.cart-open{
background-color: var(--grey3);
right:0;
top:0;
height:100%;
width: 35%;
border-radius: 0;
cursor:default !important;
}
.cart-open:hover{
    background-color: var(--medium) !important;
}
.cart-tableopen{
display:block !important;
}
.close-cart{
    display:none;
}
.close-cartshow{
    position: fixed;
    top:0;
    z-index: 1;
    right:30%;
    display:flex !important;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.close-cartshow:hover{
    cursor: pointer;
    background-color: rgb(245, 70, 70);
}
.cart-container{
    display:none;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.cart-container table{
    display: flex;
    margin:30px;
    border-collapse: collapse;
    border-spacing: 0 0;
}
.cart-containerflex{
    display:flex !important;
    
}
.cart-container tr{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    margin-top:20px;
    padding:10px;
}
.cart-container tr:hover{
    background-color: var(--light);
    cursor: pointer;
}

.cart-nrofitemshide{
display:none !important;
}