*{
    margin:0;
    padding:0;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--light);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--medium);
  }